<h1>投稿への返信</h1>

<table>
    <tr>
        <th>投稿ID</th>
        <th>投稿者</th>
        <th>タイトル</th>
        <th>内容</th>
    </tr>
    <% @posts.each do |post| %>
    <tr>
        <td><%= post.post_id %></td>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
    </tr>
    <tr>
        <td colspan="4">
            <% @replies.each do |reply| %>
            <div class="wrap">
                <div><%= reply.name %></div>
                <div><%= reply.content %></div>
            </div>
            
             <% end %>
        </td>
        </tr>
        <tr>
        <td colspan="4">
            <%= form_tag("/comment") do %>  
            <div class="text-wrap">
            返信<input type="text" name="content" placeholder="返信内容" value="">
            </div>
            <%= hidden_field_tag :post_id, post.post_id %>
            <input type="submit" value="返信">
             <% end %>
        </td>
    </tr>
    <% end %>
</table>
<%= link_to 'ユーザトップへ' , user_top_path %>




