<h1>登録ユーザ一覧</h1>
<ul>
    <% @users.each do |user| %>
        <li>ID:<%= user.id %> / 名前:<%= user.name %> / mail: <%= user.mail %> / password: <%= user.password %> / 作成日時: <%= user.created_at %></li>
    <% end %>
</ul>

<div><%= link_to 'システムトップへ', root_path %></div>