<h1>ログイン</h1>
<div class="new-tweet">
     <%= form_tag("/user_confirm") do %>  
        <div class="text-wrap">
            メールアドレス<input type="text" name="mail" placeholder="メールアドレス" value="">
        </div>
        <div class="text-wrap">
            パスワード<input type="text" name="pwd" placeholder="パスワード" value="">
        </div>
        <input type="submit" value="送信">
    <% end %>
</div>
<div><%= link_to 'システムトップへ', root_path %></div>