<%= @user.name %>さん、ようこそ！


<h1>投稿一覧</h1>
<table>
    <tr>
        <th>ユーザ名</th>
        <th>タイトル </th>
        <th>内容</th>
        <th>日時</th>
        <th>返信する</th>
    </tr>
    <% @posts.each do |post| %>
    <tr>
         <td><%= post.post_id %></td>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.created_at %></td>
        <td><%= link_to "返信", reply_path(post, post_id: post.post_id) %></td>
    </tr>
    <% end %>
</table>

<h1>新規投稿</h1>

<div class="new-tweet">
     
     <%= form_tag("/post_new") do %>  
        <div class="text-wrap">
            タイトル<input type="text" name="title" placeholder="タイトル" value="">
        </div>
        <div class="text-wrap">
            投稿内容<input type="text" name="body" placeholder="投稿内容" value="">
        </div>
        
        <input type="submit" value="投稿">
    <% end %>
</div>

<div><%= link_to 'ログアウト', user_logout_path %></div>

