<h1>ログイン・新規ユーザ登録</h1>


<div>
<h2>ログイン</h2>    
    <%= link_to 'ログインフォームへ', user_login_path %>
    
</div>

<h2>アカウントをお持ちでない方は新規作成ください</h2>
<div class="new-tweet">
     <%= form_tag("/user_create") do %>  
        <div class="text-wrap">
            
            ユーザ名<input type="text" name="name" placeholder="ユーザ名" value="">
        </div>
        <div class="text-wrap">
            メールアドレス<input type="text" name="mail" placeholder="メールアドレス" value="">
        </div>
        <div class="text-wrap">
            パスワード<input type="text" name="pwd" placeholder="パスワード" value="">
        </div>
        <input type="submit" value="登録">
    <% end %>
</div>

<div><%= link_to 'システムトップへ', root_path %></div>